/* 超过一行显示省略号 */
.one-line-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 超过多行显示省略号 */
.several-lines-overflow-ellipsis {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/* -webkit-tap-highlight-color is a non-standard CSS property that sets the color of the highlight that appears over a link while it's being tapped */
.remove-tap-highlight {
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}